@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var userName = user?.UserName;
}

@if (User.Identity.IsAuthenticated)
{
    <h1>С возвращением, @userName!</h1>
    <p class="main">
        Просмотривайте и управляйте своими мероприятиями на специальной вкладке.<br/>
        "Мероприятия".
    </p>
}
else
{
    <h1>Добро пожаловать на наш сайт планирования мероприятий!</h1>
    <p class="main">
        Для того чтобы использовать все преимущества нашего сайта, <br />
        нужно зарегистрироваться или авторизоваться, если уже есть аккаунт.<br/>
        Только при регистрации или авторизации,указывайте свои данные латинскими буквами.
    </p>
}